[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coveralls = "*"
pipenv-to-requirements = "*"
black = "*"
mypy = "*"
types-requests = "*"
types-pymysql = "*"

[packages]
mwparserfromhell = "*"
requests = "*"
pywikibot = {git = "https://phabricator.wikimedia.org/diffusion/PWBC/pywikibot.git"}
requests-oauthlib = "*"
bs4 = "*"
toolforge = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
