[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coveralls = "*"
pipenv-to-requirements = "*"
black = "*"
mypy = "*"
types-requests = "*"
types-pymysql = "*"
types-redis = "*"

[packages]
mwparserfromhell = "*"
requests = "*"
requests-oauthlib = "*"
bs4 = "*"
toolforge = "*"
redis = "*"
pywikibot = {editable = true, git = "https://gerrit.wikimedia.org/r/pywikibot/core"}
wheel = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
