name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.9
      uses: actions/setup-python@v6
      with:
        python-version: 3.9
    - name: Set up Poetry
      uses: snok/install-poetry@v1
    - name: Install dependencies
      run: poetry install --no-interaction --no-root
    - name: Load pywikibot config
      env:
          USER_CONFIG_PY: ${{ secrets.user_config_py }}
      run: echo "$USER_CONFIG_PY" > user-config.py
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        poetry run flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        poetry run flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Enforce Black code style
      run: |
        poetry run black src --check --diff
    - name: Static type check with mypy
      run :
        poetry run mypy src
    - name: Test with pytest
      run: |
        poetry run coverage run -m pytest
    - name: Coveralls
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.coveralls_repo_key }}
      continue-on-error: true
      run: |
        poetry run coveralls
